<template>
  <b-container class="container text-textcolor align-items-middle">
    <b-form v-if="access !== response.id" @submit.prevent="submit">
      <b-row>
        <b-col class="mx-auto column" sm="8">
          <h1 class="text-primary text-center">Todo with Vue</h1>
          <b-form-group
            label="Email:"
            label-for="input-login"
            description="Required"
          >
            <b-form-input
              type="email"
              placeholder="Enter email"
              id="input-login"
              v-model.trim.lazy="$v.email.$model"
              :class="{
                'is-valid': !$v.email.$error && $v.email.$anyDirty,
                'is-invalid': $v.email.$error
              }"
            >
            </b-form-input>
          </b-form-group>
          <b-form-group
            class="mt-3"
            label="Password:"
            label-for="input-password"
            description="Required"
          >
            <b-form-input
              type="password"
              placeholder="Enter password"
              id="input-password"
              v-model.trim.lazy="$v.password.$model"
              :class="{
                'is-valid': !$v.password.$error && $v.password.$anyDirty,
                'is-invalid': $v.password.$error
              }"
            >
            </b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="mx-auto mt-4" sm="6">
          <b-alert
            :show="!submitStatus"
            variant="danger"
            class="mb-2 text-center"
            >Please fill all fields correctly</b-alert
          >
          <b-alert
            v-if="submitStatus === 'ok'"
            :show="resFromBack === 'success'"
            variant="success"
            class="mb-2 text-center"
            >{{ submitMsg }}
          </b-alert>
          <b-alert
            v-if="submitStatus === 'ok'"
            :show="resFromBack === 'error'"
            variant="danger"
            class="mb-2 text-center"
            >{{ error }}</b-alert
          >
          <b-button
            @click.prevent="submit"
            type="submit"
            block
            variant="outline-primary"
            class=""
            >Let's to do it</b-button
          >
          <div
            v-if="resFromBack === 'success'"
            class="d-flex justify-content-center mt-3"
          >
            <b-spinner
              variant="primary"
              label="Spinning"
              class="d-flex"
            ></b-spinner>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="mx-auto" sm="6">
          <div id="nav" class="mt-4 text-center">
            Don't have an acoount?
            <router-link to="/signup">Sign up</router-link>
          </div>
        </b-col>
      </b-row>
    </b-form>
    <Main v-else></Main>
  </b-container>
</template>

<script>
import { required, email } from "vuelidate/lib/validators";
import Parse from "parse";
import Main from "@/views/Main.vue";

export default {
  name: "Auth",
  components: {
    Main
  },
  data() {
    return {
      email: "",
      password: "",
      response: "",
      submitStatus: "empty",
      error: "",
      resFromBack: "",
      submitMsg: "Sending your request...",
      access: false
    };
  },
  validations: {
    email: {
      email,
      required
    },
    password: {
      required
    }
  },
  methods: {
    submit() {
      if (this.$v.$invalid) {
        this.submitStatus = false;
      } else {
        this.submitStatus = "ok";
        this.login();
      }
    },
    async login() {
      try {
        const res = await Parse.User.logIn(
          this.$v.email.$model,
          this.$v.password.$model
        );
        this.submitMsg = await "Successfully logged!";
        this.resFromBack = "success";
        this.response = res;
        this.$store.commit("addUser", res.id);
        setTimeout(() => {
          this.access = res.id
        }, 100)
      } catch (e) {
        this.resFromBack = "error";
        this.error = e;
        console.log(e);
      }
    }
  }
};
</script>

<style scoped lang="scss">
.column {
  margin-top: 10rem;
}
</style>
