<template>
  <b-container class="container text-textcolor align-items-middle">
    <b-form @submit.prevent="submit">
      <b-row>
        <b-col class="mx-auto column" sm="8">
          <h1 class="text-primary text-center">Todo with Vue</h1>
          <b-form-group label="Email:" label-for="input-login"> </b-form-group>
          <b-form-input
            type="email"
            placeholder="Enter email"
            id="input-login"
            v-model.trim.lazy="$v.email.$model"
            :class="{
              'is-valid': !$v.email.$error && $v.email.$anyDirty,
              'is-invalid': $v.email.$error
            }"
          >
          </b-form-input>
          <b-form-group
            class="mt-3"
            label="Password:"
            label-for="input-password"
            description="Make it at least 4 characters"
          >
            <b-form-input
              type="password"
              placeholder="Enter password"
              id="input-password"
              v-model.trim.lazy="$v.password.$model"
              :class="{
                'is-valid': !$v.password.$error && $v.password.$anyDirty,
                'is-invalid': $v.password.$error
              }"
            >
            </b-form-input>
          </b-form-group>
          <b-form-group
            class="mt-3"
            label="Repeat password:"
            label-for="repeat-password"
          >
          </b-form-group>
          <b-form-input
            type="password"
            placeholder="Repeat password"
            id="repeat-password"
            v-model.trim.lazy="$v.confirmPassword.$model"
            :class="{
              'is-valid':
                !$v.confirmPassword.$error && $v.confirmPassword.$anyDirty,
              'is-invalid': $v.confirmPassword.$error
            }"
          >
          </b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="mx-auto mt-4" sm="6">
          <b-alert
            :show="!submitStatus"
            variant="danger"
            class="mb-2 text-center"
            >Please fill all fields correctly</b-alert
          >
          <b-alert
            v-if="submitStatus === 'ok'"
            :show="resFromBack === 'success'"
            variant="success"
            class="mb-2 text-center"
            >{{submitMsg}}</b-alert
          >
          <b-alert
            v-if="submitStatus === 'ok'"
            :show="resFromBack === 'error'"
            variant="danger"
            class="mb-2 text-center"
            >{{ error }}</b-alert
          >
          <b-button
            type="submit"
            @click.prevent="submit"
            block
            variant="outline-primary"
            class=""
            >Make me user now!</b-button
          >
        </b-col>
      </b-row>
      <b-row>
        <b-col class="mx-auto" sm="6">
          <div id="nav" class="mt-4 text-center">
            <router-link to="/">&lsaquo; Sign in</router-link>
          </div>
        </b-col>
      </b-row>
    </b-form>
  </b-container>
</template>

<script>
import { required, sameAs, minLength, email } from "vuelidate/lib/validators";
import Parse from "parse";

export default {
  name: "Auth",
  data() {
    return {
      email: "",
      password: "",
      confirmPassword: "",
      submitStatus: "epmty",
      submitMsg: 'Sending your request...',
      response: "",
      error: "",
      resFromBack: ""
    };
  },
  validations: {
    email: {
      email,
      required
    },
    password: {
      required,
      minLength: minLength(4)
    },
    confirmPassword: {
      required,
      sameAsPassword: sameAs("password")
    }
  },
  methods: {
    submit() {
      if (this.$v.$invalid) {
        this.submitStatus = false;
      } else {
        this.submitStatus = "ok";
        this.register();
      }
    },
    async register() {
      const user = new Parse.User();
      try {
        const res = await user.save({
          username: this.$v.email.$model,
          email: this.$v.email.$model,
          password: this.$v.password.$model
        });
        this.submitMsg = await "Success! Check your email to confirm and come back signing in!";
        this.resFromBack = "success";
        console.log(res)
      } catch (e) {
        this.resFromBack = "error";
        this.error = e;
      }
    }
  }
};
</script>

<style scoped lang="scss">
.column {
  margin-top: 10rem;
}
</style>
