<template>
  <div id="app" class="bg-secondary">
    <router-view />

  </div>
</template>
<script>
export default {
  name: "App",
  components: {}
};
</script>
<style lang="scss">

  html {
    @extend .bg-secondary
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>
